.u-margin-top-1 {
  margin-top: 1em !important;
}
.u-margin-top-2 {
  margin-top: 2em !important;
}
.u-margin-left-1 {
  margin-left: 1em;
}
.u-margin-bottom-2 {
  margin-bottom: 2em !important;
}

.u-text-uppercase {
  text-transform: uppercase;
}
.u-text-capitalize {
  text-transform: capitalize;
}

.border-error {
  fieldset {
    border-color: tomato;
  }
}


// Display
.u-display-block{
  display: block!important;
}